### Imports

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV, learning_curve
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [2]:
pdx_data = pd.read_csv('pdx_nbhd.csv')

In [3]:
pd.set_option('display.max_rows', None)
pdx_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3468 entries, 0 to 3467
Data columns (total 92 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            3468 non-null   int64
 1   listing_url                                   3468 non-null   object
 2   scrape_id                                     3468 non-null   int64
 3   last_scraped                                  3468 non-null   object
 4   source                                        3468 non-null   object
 5   name                                          3468 non-null   object
 6   description                                   0 non-null      float64
 7   nearby_attractions                            3468 non-null   object
 8   picture_url                                   3468 non-null   object
 9   host_id                                       3468 non-null   int64
 10  host_url                                      3468 non-null   object
 11  host_name                                     3468 non-null   object
 12  host_since                                    3468 non-null   object
 13  host_location                                 3015 non-null   object
 14  host_about                                    2514 non-null   object
 15  host_response_time                            3053 non-null   object
 16  host_response_rate                            3053 non-null   object
 17  host_acceptance_rate                          3234 non-null   object
 18  host_is_superhost                             3457 non-null   object
 19  host_thumbnail_url                            3468 non-null   object
 20  host_picture_url                              3468 non-null   object
 21  host_neighbourhood                            3234 non-null   object
 22  host_listings_count                           3468 non-null   int64
 23  host_total_listings_count                     3468 non-null   int64
 24  host_verifications                            3468 non-null   object
 25  host_has_profile_pic                          3468 non-null   object
 26  host_identity_verified                        3468 non-null   object
 27  neighborhood                                  3468 non-null   object
 28  neighbourhood_group_cleansed                  0 non-null      float64
 29  latitude                                      3468 non-null   float64
 30  longitude                                     3468 non-null   float64
 31  property_type                                 3468 non-null   object
 32  room_type                                     3468 non-null   object
 33  accommodates                                  3468 non-null   int64
 34  bathrooms                                     0 non-null      float64
 35  bathrooms_text                                3468 non-null   object
 36  bedrooms                                      0 non-null      float64
 37  beds                                          3433 non-null   float64
 38  amenities                                     3468 non-null   object
 39  price                                         3468 non-null   float64
 40  minimum_nights                                3468 non-null   int64
 41  maximum_nights                                3468 non-null   int64
 42  minimum_minimum_nights                        3468 non-null   int64
 43  maximum_minimum_nights                        3468 non-null   int64
 44  minimum_maximum_nights                        3468 non-null   int64
 45  maximum_maximum_nights                        3468 non-null   int64
 46  minimum_nights_avg_ntm                        3468 non-null   float64
 47  maximum_nights_avg_ntm                        3468 non-null   float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              3468 non-null   object
 50  availability_30                               3468 non-null   int64
 51  availability_60                               3468 non-null   int64
 52  availability_90                               3468 non-null   int64
 53  availability_365                              3468 non-null   int64
 54  calendar_last_scraped                         3468 non-null   object
 55  number_of_reviews                             3468 non-null   int64
 56  number_of_reviews_ltm                         3468 non-null   int64
 57  number_of_reviews_l30d                        3468 non-null   int64
 58  first_review                                  3134 non-null   object
 59  last_review                                   3134 non-null   object
 60  review_scores_rating                          3135 non-null   float64
 61  review_scores_accuracy                        3135 non-null   float64
 62  review_scores_cleanliness                     3135 non-null   float64
 63  review_scores_checkin                         3135 non-null   float64
 64  review_scores_communication                   3135 non-null   float64
 65  review_scores_location                        3135 non-null   float64
 66  review_scores_value                           3135 non-null   float64
 67  license                                       2976 non-null   object
 68  instant_bookable                              3468 non-null   object
 69  calculated_host_listings_count                3468 non-null   int64
 70  calculated_host_listings_count_entire_homes   3468 non-null   int64
 71  calculated_host_listings_count_private_rooms  3468 non-null   int64
 72  calculated_host_listings_count_shared_rooms   3468 non-null   int64
 73  reviews_per_month                             3134 non-null   float64
 74  NB_listings_count                             3468 non-null   int64
 75  NB_price_mean                                 3468 non-null   float64
 76  NB_review_location_mean                       3468 non-null   float64
 77  NB_review_value_mean                          3468 non-null   float64
 78  NB_avail_30_mean                              3468 non-null   float64
 79  NB_avail_60_mean                              3468 non-null   float64
 80  NB_avail_90_mean                              3468 non-null   float64
 81  NB_avail_365_mean                             3468 non-null   float64
 82  NB_min_nights_low                             3468 non-null   int64
 83  NB_min_nights_high                            3468 non-null   int64
 84  NB_max_nights_low                             3468 non-null   int64
 85  NB_max_nights_high                            3468 non-null   int64
 86  NB_total_reviews                              3468 non-null   int64
 87  NB_review_rating_mean                         3468 non-null   float64
 88  NB_review_accuracy_mean                       3468 non-null   float64
 89  NB_review_cleanliness_mean                    3468 non-null   float64
 90  NB_review_checkin_mean                        3468 non-null   float64
 91  NB_review_communication_mean                  3468 non-null   float64
dtypes: float64(31), int64(29), object(32)
memory usage: 2.4+ MB

In [4]:
pdx_data['amenities'].head()

0    []
1    []
2    []
3    []
4    []
Name: amenities, dtype: object

In [5]:
pdx_data = pdx_data.drop(['listing_url', 'scrape_id', 'last_scraped', 'source', 'name', 'description', 
                          'nearby_attractions', 'picture_url', 'host_url', 'host_name', 'host_thumbnail_url', 
                          'host_picture_url', 'host_neighbourhood', 'host_verifications', 'neighbourhood_group_cleansed', 
                          'latitude', 'longitude', 'bathrooms', 'bedrooms', 'amenities', 'minimum_minimum_nights', 
                          'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 
                          'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability', 
                          'calendar_last_scraped', 'license', 'calculated_host_listings_count', 
                          'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 
                          'calculated_host_listings_count_shared_rooms', 'NB_min_nights_low', 'NB_min_nights_high', 
                          'NB_max_nights_low', 'NB_max_nights_high'], axis=1)

In [6]:
pd.set_option('display.max_columns', None)
pdx_data.head()

,id,host_id,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_has_profile_pic,host_identity_verified,neighborhood,property_type,room_type,accommodates,bathrooms_text,beds,price,minimum_nights,maximum_nights,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,reviews_per_month,NB_listings_count,NB_price_mean,NB_review_location_mean,NB_review_value_mean,NB_avail_30_mean,NB_avail_60_mean,NB_avail_90_mean,NB_avail_365_mean,NB_total_reviews,NB_review_rating_mean,NB_review_accuracy_mean,NB_review_cleanliness_mean,NB_review_checkin_mean,NB_review_communication_mean
0,623976768455730606,4812174,2013-01-23,"Portland, OR",I am a nurse here in Portland at OHSU hospital...,within an hour,100%,98%,t,2,2,t,t,Concordia,Private room in home,Private room,2,1 shared bath,1.0,58.0,2,14,0,0,11,101,33,23,0,2022-07-15,2023-10-22,5.00,5.00,5.00,5.00,4.94,4.88,4.85,f,1.89,135,123.412214,4.932769,4.823000,12.355556,29.162963,47.022222,159.066667,20351,4.900692,4.922462,4.898769,4.952231,4.949923
1,7650094,1197719,2011-09-23,"Portland, OR","Travels\n\nAustralia\n\nEurope: Austria, Franc...",within an hour,100%,100%,f,2,3,t,t,Northwest District,Entire rental unit,Entire home/apt,2,1 bath,1.0,70.0,30,1125,0,19,49,324,12,2,0,2017-08-30,2023-10-28,5.00,5.00,4.92,5.00,5.00,4.92,4.83,f,0.16,185,141.896552,4.911130,4.696836,12.616216,30.086486,48.383784,186.135135,19013,4.809887,4.842994,4.799153,4.891582,4.911695
2,43930130,81209824,2016-07-02,"Portland, OR",Hi Airbnb! I am a third generation General Con...,within an hour,100%,100%,f,3,3,t,t,King,Entire home,Entire home/apt,8,2 baths,4.0,150.0,1,1125,10,36,55,55,78,19,1,2020-08-06,2023-12-17,4.74,4.68,4.68,4.87,4.88,4.83,4.63,f,1.90,125,124.678571,4.874098,4.804262,8.696000,20.640000,35.192000,125.424000,18831,4.867295,4.903361,4.873279,4.954918,4.945328
3,640328648437453436,384749573,2021-01-15,"Wasilla, AK",NaN,within an hour,100%,100%,f,1,1,t,t,Sellwood-Moreland Improvement League,Entire rental unit,Entire home/apt,2,1 bath,1.0,79.0,1,2,0,0,0,0,3,3,3,2023-11-26,2023-12-17,5.00,5.00,5.00,5.00,4.75,5.00,4.75,f,3.00,93,116.413793,4.912529,4.810230,11.118280,26.881720,44.559140,137.978495,11934,4.872184,4.891839,4.904023,4.969195,4.957126
4,802905386849951102,174792040,2018-02-22,NaN,Going someplace new is always exciting. And wh...,within an hour,100%,98%,f,2637,8868,t,t,Portland Downtown,Room in hotel,Private room,2,1 bath,1.0,1040.0,1,1125,30,60,90,360,1,1,0,2023-11-05,2023-11-05,5.00,5.00,5.00,5.00,5.00,5.00,5.00,t,0.65,133,747.592308,4.676140,4.679298,22.368421,47.097744,73.007519,295.233083,2766,4.799123,4.859649,4.831579,4.868421,4.838246

### Clean Dtypes

#### Datetime

In [7]:
pdx_data['host_since'] = pd.to_datetime(pdx_data['host_since'])
pdx_data['first_review'] = pd.to_datetime(pdx_data['first_review'])
pdx_data['last_review'] = pd.to_datetime(pdx_data['last_review'])

In [8]:
pdx_data['host_since'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 3468 entries, 0 to 3467
Series name: host_since
Non-Null Count  Dtype
--------------  -----
3468 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 27.2 KB

In [9]:
pdx_data.select_dtypes(include = 'datetime64').head(25)

   host_since first_review last_review
0  2013-01-23   2022-07-15  2023-10-22
1  2011-09-23   2017-08-30  2023-10-28
2  2016-07-02   2020-08-06  2023-12-17
3  2021-01-15   2023-11-26  2023-12-17
4  2018-02-22   2023-11-05  2023-11-05
5  2010-12-29   2011-02-15  2023-11-05
6  2013-04-23   2013-04-29  2023-12-13
7  2015-04-25   2019-09-15  2019-09-15
8  2018-06-11   2019-08-11  2023-11-19
9  2013-12-04   2021-06-26  2023-11-06
10 2016-12-16   2018-11-04  2022-11-10
11 2012-07-24   2022-12-30  2023-12-18
12 2016-03-24   2023-09-12  2023-09-12
13 2011-05-13   2016-05-07  2023-12-10
14 2013-01-22   2021-07-28  2023-12-05
15 2013-07-10   2018-01-13  2023-11-26
16 2022-01-25          NaT         NaT
17 2013-04-29   2019-03-28  2023-06-30
18 2018-10-02   2020-11-20  2023-12-03
19 2012-06-13   2014-11-12  2023-10-09
20 2014-10-29   2022-11-15  2023-11-30
21 2012-05-21   2022-10-16  2023-11-24
22 2015-04-23   2015-05-24  2023-12-11
23 2016-08-26   2017-04-14  2023-10-29
24 2014-04-28   2022-11-26  2023-07-19

#### To Numeric

In [10]:
pdx_data['bathrooms_text'].head(15)

0        1 shared bath
1               1 bath
2              2 baths
3               1 bath
4               1 bath
5              2 baths
6               1 bath
7              2 baths
8              2 baths
9            2.5 baths
10    1.5 shared baths
11              1 bath
12              1 bath
13              1 bath
14       1 shared bath
Name: bathrooms_text, dtype: object

In [11]:
### set bathrooms_text to two columns; num_bath and is_shared_bathroom

pdx_data['is_shared_bathroom'] = np.where(pdx_data['bathrooms_text'].str.contains('share'),1,0)
pdx_data[['bathrooms_text','is_shared_bathroom']].head()

  bathrooms_text  is_shared_bathroom
0  1 shared bath                   1
1         1 bath                   0
2        2 baths                   0
3         1 bath                   0
4         1 bath                   0

In [12]:
pdx_data['num_baths'] = pdx_data.bathrooms_text.str.extract(r'(\d+.\d+)').astype('float')
pdx_data[['bathrooms_text','num_baths']].head(15)

      bathrooms_text  num_baths
0      1 shared bath        NaN
1             1 bath        NaN
2            2 baths        NaN
3             1 bath        NaN
4             1 bath        NaN
5            2 baths        NaN
6             1 bath        NaN
7            2 baths        NaN
8            2 baths        NaN
9          2.5 baths        2.5
10  1.5 shared baths        1.5
11            1 bath        NaN
12            1 bath        NaN
13            1 bath        NaN
14     1 shared bath        NaN

In [13]:
pdx_data['whole_num_baths'] = pdx_data.bathrooms_text.str.extract('(^\d*)')
pdx_data[['bathrooms_text','num_baths', 'whole_num_baths']].head(15)

      bathrooms_text  num_baths whole_num_baths
0      1 shared bath        NaN               1
1             1 bath        NaN               1
2            2 baths        NaN               2
3             1 bath        NaN               1
4             1 bath        NaN               1
5            2 baths        NaN               2
6             1 bath        NaN               1
7            2 baths        NaN               2
8            2 baths        NaN               2
9          2.5 baths        2.5               2
10  1.5 shared baths        1.5               1
11            1 bath        NaN               1
12            1 bath        NaN               1
13            1 bath        NaN               1
14     1 shared bath        NaN               1

In [14]:
pdx_data['num_baths'] = pdx_data['num_baths'].fillna(pdx_data['whole_num_baths'])
pdx_data[['bathrooms_text','num_baths', 'whole_num_baths']].head(15)

      bathrooms_text num_baths whole_num_baths
0      1 shared bath         1               1
1             1 bath         1               1
2            2 baths         2               2
3             1 bath         1               1
4             1 bath         1               1
5            2 baths         2               2
6             1 bath         1               1
7            2 baths         2               2
8            2 baths         2               2
9          2.5 baths       2.5               2
10  1.5 shared baths       1.5               1
11            1 bath         1               1
12            1 bath         1               1
13            1 bath         1               1
14     1 shared bath         1               1

In [15]:
pdx_data.drop(columns = ['bathrooms_text','whole_num_baths'], inplace = True)

In [16]:
pdx_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3468 entries, 0 to 3467
Data columns (total 55 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            3468 non-null   int64
 1   host_id                       3468 non-null   int64
 2   host_since                    3468 non-null   datetime64[ns]
 3   host_location                 3015 non-null   object
 4   host_about                    2514 non-null   object
 5   host_response_time            3053 non-null   object
 6   host_response_rate            3053 non-null   object
 7   host_acceptance_rate          3234 non-null   object
 8   host_is_superhost             3457 non-null   object
 9   host_listings_count           3468 non-null   int64
 10  host_total_listings_count     3468 non-null   int64
 11  host_has_profile_pic          3468 non-null   object
 12  host_identity_verified        3468 non-null   object
 13  neighborhood                  3468 non-null   object
 14  property_type                 3468 non-null   object
 15  room_type                     3468 non-null   object
 16  accommodates                  3468 non-null   int64
 17  beds                          3433 non-null   float64
 18  price                         3468 non-null   float64
 19  minimum_nights                3468 non-null   int64
 20  maximum_nights                3468 non-null   int64
 21  availability_30               3468 non-null   int64
 22  availability_60               3468 non-null   int64
 23  availability_90               3468 non-null   int64
 24  availability_365              3468 non-null   int64
 25  number_of_reviews             3468 non-null   int64
 26  number_of_reviews_ltm         3468 non-null   int64
 27  number_of_reviews_l30d        3468 non-null   int64
 28  first_review                  3134 non-null   datetime64[ns]
 29  last_review                   3134 non-null   datetime64[ns]
 30  review_scores_rating          3135 non-null   float64
 31  review_scores_accuracy        3135 non-null   float64
 32  review_scores_cleanliness     3135 non-null   float64
 33  review_scores_checkin         3135 non-null   float64
 34  review_scores_communication   3135 non-null   float64
 35  review_scores_location        3135 non-null   float64
 36  review_scores_value           3135 non-null   float64
 37  instant_bookable              3468 non-null   object
 38  reviews_per_month             3134 non-null   float64
 39  NB_listings_count             3468 non-null   int64
 40  NB_price_mean                 3468 non-null   float64
 41  NB_review_location_mean       3468 non-null   float64
 42  NB_review_value_mean          3468 non-null   float64
 43  NB_avail_30_mean              3468 non-null   float64
 44  NB_avail_60_mean              3468 non-null   float64
 45  NB_avail_90_mean              3468 non-null   float64
 46  NB_avail_365_mean             3468 non-null   float64
 47  NB_total_reviews              3468 non-null   int64
 48  NB_review_rating_mean         3468 non-null   float64
 49  NB_review_accuracy_mean       3468 non-null   float64
 50  NB_review_cleanliness_mean    3468 non-null   float64
 51  NB_review_checkin_mean        3468 non-null   float64
 52  NB_review_communication_mean  3468 non-null   float64
 53  is_shared_bathroom            3468 non-null   int32
 54  num_baths                     3468 non-null   object
dtypes: datetime64[ns](3), float64(22), int32(1), int64(16), object(13)
memory usage: 1.4+ MB

In [17]:
pdx_data['num_baths'] = pdx_data['num_baths'].apply(pd.to_numeric)

In [18]:
pdx_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3468 entries, 0 to 3467
Data columns (total 55 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            3468 non-null   int64
 1   host_id                       3468 non-null   int64
 2   host_since                    3468 non-null   datetime64[ns]
 3   host_location                 3015 non-null   object
 4   host_about                    2514 non-null   object
 5   host_response_time            3053 non-null   object
 6   host_response_rate            3053 non-null   object
 7   host_acceptance_rate          3234 non-null   object
 8   host_is_superhost             3457 non-null   object
 9   host_listings_count           3468 non-null   int64
 10  host_total_listings_count     3468 non-null   int64
 11  host_has_profile_pic          3468 non-null   object
 12  host_identity_verified        3468 non-null   object
 13  neighborhood                  3468 non-null   object
 14  property_type                 3468 non-null   object
 15  room_type                     3468 non-null   object
 16  accommodates                  3468 non-null   int64
 17  beds                          3433 non-null   float64
 18  price                         3468 non-null   float64
 19  minimum_nights                3468 non-null   int64
 20  maximum_nights                3468 non-null   int64
 21  availability_30               3468 non-null   int64
 22  availability_60               3468 non-null   int64
 23  availability_90               3468 non-null   int64
 24  availability_365              3468 non-null   int64
 25  number_of_reviews             3468 non-null   int64
 26  number_of_reviews_ltm         3468 non-null   int64
 27  number_of_reviews_l30d        3468 non-null   int64
 28  first_review                  3134 non-null   datetime64[ns]
 29  last_review                   3134 non-null   datetime64[ns]
 30  review_scores_rating          3135 non-null   float64
 31  review_scores_accuracy        3135 non-null   float64
 32  review_scores_cleanliness     3135 non-null   float64
 33  review_scores_checkin         3135 non-null   float64
 34  review_scores_communication   3135 non-null   float64
 35  review_scores_location        3135 non-null   float64
 36  review_scores_value           3135 non-null   float64
 37  instant_bookable              3468 non-null   object
 38  reviews_per_month             3134 non-null   float64
 39  NB_listings_count             3468 non-null   int64
 40  NB_price_mean                 3468 non-null   float64
 41  NB_review_location_mean       3468 non-null   float64
 42  NB_review_value_mean          3468 non-null   float64
 43  NB_avail_30_mean              3468 non-null   float64
 44  NB_avail_60_mean              3468 non-null   float64
 45  NB_avail_90_mean              3468 non-null   float64
 46  NB_avail_365_mean             3468 non-null   float64
 47  NB_total_reviews              3468 non-null   int64
 48  NB_review_rating_mean         3468 non-null   float64
 49  NB_review_accuracy_mean       3468 non-null   float64
 50  NB_review_cleanliness_mean    3468 non-null   float64
 51  NB_review_checkin_mean        3468 non-null   float64
 52  NB_review_communication_mean  3468 non-null   float64
 53  is_shared_bathroom            3468 non-null   int32
 54  num_baths                     3466 non-null   float64
dtypes: datetime64[ns](3), float64(23), int32(1), int64(16), object(12)
memory usage: 1.4+ MB

In [19]:
### set host_response_rate, host_acceptance_rate to number

pdx_data[['host_response_rate', 'host_acceptance_rate']].head(25)

   host_response_rate host_acceptance_rate
0                100%                  98%
1                100%                 100%
2                100%                 100%
3                100%                 100%
4                100%                  98%
5                100%                 100%
6                100%                 100%
7                  0%                   0%
8                100%                 100%
9                100%                 100%
10                NaN                  NaN
11               100%                 100%
12                NaN                 100%
13               100%                 100%
14               100%                  99%
15                NaN                  NaN
16                96%                  65%
17               100%                  89%
18               100%                  98%
19                NaN                 100%
20               100%                 100%
21               100%                 100%
22               100%                  99%
23               100%                  87%
24               100%                  91%

In [20]:
pdx_data['host_response_rate'] = pdx_data['host_response_rate'].str.replace("%", "")
pdx_data['host_response_rate'] = pd.to_numeric(pdx_data['host_response_rate'])
pdx_data['host_response_rate'] = pdx_data['host_response_rate'] / 100

In [21]:
pdx_data['host_response_rate'].head(25)

0     1.00
1     1.00
2     1.00
3     1.00
4     1.00
5     1.00
6     1.00
7     0.00
8     1.00
9     1.00
10     NaN
11    1.00
12     NaN
13    1.00
14    1.00
15     NaN
16    0.96
17    1.00
18    1.00
19     NaN
20    1.00
21    1.00
22    1.00
23    1.00
24    1.00
Name: host_response_rate, dtype: float64

In [22]:
pdx_data['host_acceptance_rate'] = pdx_data['host_acceptance_rate'].str.replace("%", "")
pdx_data['host_acceptance_rate'] = pd.to_numeric(pdx_data['host_acceptance_rate'])
pdx_data['host_acceptance_rate'] = pdx_data['host_acceptance_rate'] / 100

In [23]:
pdx_data['host_acceptance_rate'].head(25)

0     0.98
1     1.00
2     1.00
3     1.00
4     0.98
5     1.00
6     1.00
7     0.00
8     1.00
9     1.00
10     NaN
11    1.00
12    1.00
13    1.00
14    0.99
15     NaN
16    0.65
17    0.89
18    0.98
19    1.00
20    1.00
21    1.00
22    0.99
23    0.87
24    0.91
Name: host_acceptance_rate, dtype: float64

#### Boolean numeric

In [24]:
### Host_about isnull = 0, else 1

pdx_data['host_about'].head()

0    I am a nurse here in Portland at OHSU hospital...
1    Travels\n\nAustralia\n\nEurope: Austria, Franc...
2    Hi Airbnb! I am a third generation General Con...
3                                                  NaN
4    Going someplace new is always exciting. And wh...
Name: host_about, dtype: object

In [25]:
pdx_data['has_host_about'] = np.where(pdx_data['host_about'].isna(), 0, 1)
pdx_data[['has_host_about','host_about']].head()

   has_host_about                                         host_about
0               1  I am a nurse here in Portland at OHSU hospital...
1               1  Travels\n\nAustralia\n\nEurope: Austria, Franc...
2               1  Hi Airbnb! I am a third generation General Con...
3               0                                                NaN
4               1  Going someplace new is always exciting. And wh...

In [26]:
pdx_data.drop(columns = ['host_about'], inplace = True)

In [27]:
# set host location to host_loc_is_portland

pdx_data['host_location'].sort_values().unique()

array(['Allentown, PA', 'Anaheim, CA', 'Ashland, OR', 'Atlanta, GA',
       'Auburn, WA', 'Austin, TX', 'Beaverton, OR', 'Bellevue, WA',
       'Bend, OR', 'Berkeley, CA', 'Beverly Hills, CA', 'Birmingham, AL',
       'Boise, ID', 'California, United States', 'Camas, WA', 'Canby, OR',
       'Cathedral City, CA', 'Chandler, AZ', 'Chicago, IL', 'Chico, CA',
       'Clackamas, OR', 'Colorado, United States', 'Corbett, OR',
       'Coronado, CA', 'Corvallis, OR', 'Denver, CO', 'Detroit, MI',
       'Dover, NH', 'Edmonds, WA', 'El Cerrito, CA', 'Eugene, OR',
       'Florida, United States', 'Geelong West, Australia',
       'Georgetown, TX', 'Glenwood, OR', 'Gresham, OR',
       'Hamilton, Canada', 'Hanalei, HI', 'Happy Valley, OR',
       'Hillsboro, OR', 'Honolulu, HI', 'Houston, TX', 'Irvine, CA',
       'Jersey City, NJ', 'Joshua Tree, CA', 'Kailua-Kona, HI',
       'Kansas City, MO', 'Kapaa, HI', 'Keizer, OR', 'Kihei, HI',
       'Lafayette, OR', 'Lake Forest, CA', 'Lake Oswego, OR',
       'Las Vegas, NV', 'Lodi, CA', 'London, United Kingdom',
       'Long Beach, CA', 'Longview, WA', 'Los Angeles, CA',
       'Madrid, Spain', 'Mars Hill, NC', 'Miami, FL', 'Mission Viejo, CA',
       'Mountain View, CA', 'Muskegon, MI', 'Nelson, Canada',
       'New Almaden, CA', 'New York, NY', 'Oakland, CA', 'Omaha, NE',
       'Oregon City, OR', 'Oregon, United States', 'Orlando, FL',
       'Palm Desert, CA', 'Palm Springs, CA', 'Panama City, Panama',
       'Paris, France', 'Park City, UT', 'Pflugerville, TX',
       'Philadelphia, PA', 'Phoenix, AZ', 'Pompano Beach, FL',
       'Portland, OR', 'Princeville, HI', 'Rhododendron, OR',
       'Richardson, TX', 'Rincn, Puerto Rico', 'Rockford, MI',
       'San Anselmo, CA', 'San Carlos, CA', 'San Diego, CA',
       'San Francisco, CA', 'San Jose, CA', 'San Ramon, CA',
       'Santa Barbara, CA', 'Santa Fe, NM', 'Santa Rosa, CA',
       'Scottsdale, AZ', 'Seal Beach, CA', 'Seattle, WA', 'Silverton, OR',
       'The Colony, TX', 'Tigard, OR', 'Toronto, Canada', 'Troutdale, OR',
       'Tualatin, OR', 'Tucson, AZ', 'United States', 'Vancouver, Canada',
       'Vancouver, WA', 'Vermont, United States', 'Villareal, Costa Rica',
       'Washington, United States', 'Wasilla, AK',
       'Wellington, New Zealand', 'West Hollywood, CA', 'West Linn, OR',
       'Westfir, OR', 'Whistler, Canada', 'White Salmon, WA',
       'Zagreb, Croatia', 'stanbul, Turkey', nan], dtype=object)

In [28]:
pdx_data['host_loc_is_portland'] = np.where(pdx_data['host_location'] == 'Portland, OR', 1, 0)
pdx_data[['host_loc_is_portland','host_location']].head()

   host_loc_is_portland host_location
0                     1  Portland, OR
1                     1  Portland, OR
2                     1  Portland, OR
3                     0   Wasilla, AK
4                     0           NaN

In [29]:
pdx_data.drop(columns = ['host_location'], inplace = True)

In [30]:
# set host_is_superhost, host_has_profile_pic, host_identity_verified, instant_bookable, 1 or 0
pdx_data[['host_is_superhost', 'host_has_profile_pic', 'host_identity_verified', 'instant_bookable']].head()

,host_is_superhost,host_has_profile_pic,host_identity_verified,instant_bookable
0,t,t,t,f
1,f,t,t,f
2,f,t,t,f
3,f,t,t,f
4,f,t,t,t

In [31]:
pdx_data['host_is_superhost'].replace({'t' : 1, 'f' : 0},inplace = True)
pdx_data['host_has_profile_pic'].replace({'t' : 1, 'f' : 0},inplace = True)
pdx_data['host_identity_verified'].replace({'t' : 1, 'f' : 0},inplace = True)
pdx_data['instant_bookable'].replace({'t' : 1, 'f' : 0},inplace = True)

pdx_data[['host_is_superhost', 'host_has_profile_pic', 'host_identity_verified', 'instant_bookable']].head()

,host_is_superhost,host_has_profile_pic,host_identity_verified,instant_bookable
0,1.0,1,1,0
1,0.0,1,1,0
2,0.0,1,1,0
3,0.0,1,1,0
4,0.0,1,1,1

### Categorical Data

In [32]:
# Get dummies for neighborhood, host response time, property type, room type

In [33]:
def shape_ratio(df):
    shape = df.shape
    rows = shape[0]
    cols = shape[1]
    print(cols/rows)

In [34]:
# ideally i want ratio under .33 (fewer than 1/3rd as many columns as rows)

shape_ratio(pdx_data)
    
# check current ratio

0.015859284890426758

In [35]:
nb_df = pd.get_dummies(pdx_data['neighborhood'], dtype=float, prefix = 'nb_')

In [36]:
hrt_df = pd.get_dummies(pdx_data['host_response_time'], dtype=float, prefix = 'hrt_')

In [37]:
pt_df = pd.get_dummies(pdx_data['property_type'], dtype=float, prefix = 'pt_')

In [38]:
rt_df = pd.get_dummies(pdx_data['room_type'], dtype=float, prefix = 'rt_')

In [39]:
pdx_data.drop(columns = ['neighborhood', 'host_response_time', 'property_type', 'room_type'], inplace = True)

In [40]:
pdx_data.shape

(3468, 51)

In [41]:
pdx_data = pdx_data.merge(nb_df, left_index = True, right_index = True)

In [42]:
pdx_data = pdx_data.merge(hrt_df, left_index = True, right_index = True)

In [43]:
pdx_data = pdx_data.merge(pt_df, left_index = True, right_index = True)

In [44]:
pdx_data = pdx_data.merge(rt_df, left_index = True, right_index = True)

In [45]:
pdx_data.shape

(3468, 193)

In [46]:
shape_ratio(pdx_data)

0.055651672433679356

In [47]:
pdx_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3468 entries, 0 to 3467
Columns: 193 entries, id to rt__Shared room
dtypes: datetime64[ns](3), float64(168), int32(3), int64(19)
memory usage: 5.1 MB

### Deal with NaNs

In [48]:
### How much data is lost if we drop them all?

pdx_prep = pdx_data.dropna()

In [49]:
pdx_prep.shape

(2712, 193)

In [50]:
shape_ratio(pdx_prep)

0.07116519174041298

shape ratio is below desired threshold of .33, dataset is still larget enough even with NAs dropped.

In [51]:
pdx_prep.to_csv('pdx_prep.csv', index=False)

### Train test split

In [52]:
X_train, X_test, y_train, y_test = train_test_split(pdx_prep.drop(columns='price'), 
                                                    pdx_prep.price, test_size=0.3, 
                                                    random_state=47)

# removed price as our target feature

In [53]:
date_list = ['host_since', 'first_review', 'last_review']
date_train = X_train[date_list]
date_test = X_test[date_list]
X_train.drop(columns=date_list, inplace=True)
X_test.drop(columns=date_list, inplace=True)
X_train.shape, X_test.shape

# removed datetime columns since they are not numeric

((1898, 189), (814, 189))

In [54]:
X_train.dtypes

# sanity check

id                                            int64
host_id                                       int64
host_response_rate                          float64
host_acceptance_rate                        float64
host_is_superhost                           float64
host_listings_count                           int64
host_total_listings_count                     int64
host_has_profile_pic                          int64
host_identity_verified                        int64
accommodates                                  int64
beds                                        float64
minimum_nights                                int64
maximum_nights                                int64
availability_30                               int64
availability_60                               int64
availability_90                               int64
availability_365                              int64
number_of_reviews                             int64
number_of_reviews_ltm                         int64
number_of_reviews_l30d                        int64
review_scores_rating                        float64
review_scores_accuracy                      float64
review_scores_cleanliness                   float64
review_scores_checkin                       float64
review_scores_communication                 float64
review_scores_location                      float64
review_scores_value                         float64
instant_bookable                              int64
reviews_per_month                           float64
NB_listings_count                             int64
NB_price_mean                               float64
NB_review_location_mean                     float64
NB_review_value_mean                        float64
NB_avail_30_mean                            float64
NB_avail_60_mean                            float64
NB_avail_90_mean                            float64
NB_avail_365_mean                           float64
NB_total_reviews                              int64
NB_review_rating_mean                       float64
NB_review_accuracy_mean                     float64
NB_review_cleanliness_mean                  float64
NB_review_checkin_mean                      float64
NB_review_communication_mean                float64
is_shared_bathroom                            int32
num_baths                                   float64
has_host_about                                int32
host_loc_is_portland                          int32
nb__Alameda                                 float64
nb__Arbor Lodge                             float64
nb__Ardenwald-Johnson Creek                 float64
nb__Argay                                   float64
nb__Arlington Heights                       float64
nb__Arnold Creek                            float64
nb__Ashcreek                                float64
nb__Beaumont-Wilshire                       float64
nb__Boise                                   float64
nb__Brentwood-Darlington                    float64
nb__Bridgeton                               float64
nb__Bridlemile                              float64
nb__Brooklyn Action Corps                   float64
nb__Buckman                                 float64
nb__Cathedral Park                          float64
nb__Centennial                              float64
nb__Collins View                            float64
nb__Concordia                               float64
nb__Creston-Kenilworth                      float64
nb__Crestwood                               float64
nb__Cully                                   float64
nb__East Columbia                           float64
nb__Eastmoreland                            float64
nb__Eliot                                   float64
nb__Far Southwest                           float64
nb__Forest Park                             float64
nb__Foster-Powell                           float64
nb__Glenfair                                float64
nb__Goose Hollow                            float64
nb__Grant Park                              float64
nb__Hayden Island                           float64
nb__Hayhurst                                float64
nb__Hazelwood                               float64
nb__Hillsdale                               float64
nb__Hillside                                float64
nb__Hollywood                               float64
nb__Homestead                               float64
nb__Hosford-Abernethy                       float64
nb__Humboldt                                float64
nb__Irvington                               float64
nb__Kenton                                  float64
nb__Kerns                                   float64
nb__King                                    float64
nb__Laurelhurst                             float64
nb__Lents                                   float64
nb__Linnton                                 float64
nb__Lloyd District                          float64
nb__Madison South                           float64
nb__Maplewood                               float64
nb__Markham                                 float64
nb__Marshall Park                           float64
nb__Mill Park                               float64
nb__Montavilla                              float64
nb__Mt. Scott-Arleta                        float64
nb__Mt. Tabor                               float64
nb__Multnomah                               float64
nb__North Tabor                             float64
nb__Northwest District                      float64
nb__Northwest Heights                       float64
nb__Old Town/Chinatown                      float64
nb__Overlook                                float64
nb__Parkrose                                float64
nb__Parkrose Heights                        float64
nb__Pearl                                   float64
nb__Piedmont                                float64
nb__Pleasant Valley                         float64
nb__Portland Downtown                       float64
nb__Portsmouth                              float64
nb__Powellhurst-Gilbert                     float64
nb__Reed                                    float64
nb__Richmond                                float64
nb__Rose City Park                          float64
nb__Roseway                                 float64
nb__Russell                                 float64
nb__Sabin                                   float64
nb__Sellwood-Moreland Improvement League    float64
nb__South Burlingame                        float64
nb__South Portland                          float64
nb__South Tabor                             float64
nb__Southwest Hills                         float64
nb__St. Johns                               float64
nb__Sullivan's Gulch                        float64
nb__Sumner                                  float64
nb__Sunderland                              float64
nb__Sunnyside                               float64
nb__Sylvan-Highlands                        float64
nb__University Park                         float64
nb__Vernon                                  float64
nb__West Portland Park                      float64
nb__Wilkes                                  float64
nb__Woodlawn                                float64
nb__Woodstock                               float64
hrt__a few days or more                     float64
hrt__within a day                           float64
hrt__within a few hours                     float64
hrt__within an hour                         float64
pt__Boat                                    float64
pt__Camper/RV                               float64
pt__Casa particular                         float64
pt__Dome                                    float64
pt__Entire bungalow                         float64
pt__Entire cabin                            float64
pt__Entire condo                            float64
pt__Entire cottage                          float64
pt__Entire guest suite                      float64
pt__Entire guesthouse                       float64
pt__Entire home                             float64
pt__Entire loft                             float64
pt__Entire place                            float64
pt__Entire rental unit                      float64
pt__Entire serviced apartment               float64
pt__Entire townhouse                        float64
pt__Entire villa                            float64
pt__Farm stay                               float64
pt__Houseboat                               float64
pt__Private room in bed and breakfast       float64
pt__Private room in bungalow                float64
pt__Private room in condo                   float64
pt__Private room in farm stay               float64
pt__Private room in guest suite             float64
pt__Private room in guesthouse              float64
pt__Private room in home                    float64
pt__Private room in hostel                  float64
pt__Private room in houseboat               float64
pt__Private room in hut                     float64
pt__Private room in loft                    float64
pt__Private room in rental unit             float64
pt__Private room in resort                  float64
pt__Private room in townhouse               float64
pt__Private room in treehouse               float64
pt__Room in boutique hotel                  float64
pt__Room in hostel                          float64
pt__Room in hotel                           float64
pt__Shared room in hostel                   float64
pt__Shared room in townhouse                float64
pt__Tiny home                               float64
pt__Treehouse                               float64
pt__Yurt                                    float64
rt__Entire home/apt                         float64
rt__Hotel room                              float64
rt__Private room                            float64
rt__Shared room                             float64
dtype: object

In [55]:
X_test.dtypes

# sanity check

id                                            int64
host_id                                       int64
host_response_rate                          float64
host_acceptance_rate                        float64
host_is_superhost                           float64
host_listings_count                           int64
host_total_listings_count                     int64
host_has_profile_pic                          int64
host_identity_verified                        int64
accommodates                                  int64
beds                                        float64
minimum_nights                                int64
maximum_nights                                int64
availability_30                               int64
availability_60                               int64
availability_90                               int64
availability_365                              int64
number_of_reviews                             int64
number_of_reviews_ltm                         int64
number_of_reviews_l30d                        int64
review_scores_rating                        float64
review_scores_accuracy                      float64
review_scores_cleanliness                   float64
review_scores_checkin                       float64
review_scores_communication                 float64
review_scores_location                      float64
review_scores_value                         float64
instant_bookable                              int64
reviews_per_month                           float64
NB_listings_count                             int64
NB_price_mean                               float64
NB_review_location_mean                     float64
NB_review_value_mean                        float64
NB_avail_30_mean                            float64
NB_avail_60_mean                            float64
NB_avail_90_mean                            float64
NB_avail_365_mean                           float64
NB_total_reviews                              int64
NB_review_rating_mean                       float64
NB_review_accuracy_mean                     float64
NB_review_cleanliness_mean                  float64
NB_review_checkin_mean                      float64
NB_review_communication_mean                float64
is_shared_bathroom                            int32
num_baths                                   float64
has_host_about                                int32
host_loc_is_portland                          int32
nb__Alameda                                 float64
nb__Arbor Lodge                             float64
nb__Ardenwald-Johnson Creek                 float64
nb__Argay                                   float64
nb__Arlington Heights                       float64
nb__Arnold Creek                            float64
nb__Ashcreek                                float64
nb__Beaumont-Wilshire                       float64
nb__Boise                                   float64
nb__Brentwood-Darlington                    float64
nb__Bridgeton                               float64
nb__Bridlemile                              float64
nb__Brooklyn Action Corps                   float64
nb__Buckman                                 float64
nb__Cathedral Park                          float64
nb__Centennial                              float64
nb__Collins View                            float64
nb__Concordia                               float64
nb__Creston-Kenilworth                      float64
nb__Crestwood                               float64
nb__Cully                                   float64
nb__East Columbia                           float64
nb__Eastmoreland                            float64
nb__Eliot                                   float64
nb__Far Southwest                           float64
nb__Forest Park                             float64
nb__Foster-Powell                           float64
nb__Glenfair                                float64
nb__Goose Hollow                            float64
nb__Grant Park                              float64
nb__Hayden Island                           float64
nb__Hayhurst                                float64
nb__Hazelwood                               float64
nb__Hillsdale                               float64
nb__Hillside                                float64
nb__Hollywood                               float64
nb__Homestead                               float64
nb__Hosford-Abernethy                       float64
nb__Humboldt                                float64
nb__Irvington                               float64
nb__Kenton                                  float64
nb__Kerns                                   float64
nb__King                                    float64
nb__Laurelhurst                             float64
nb__Lents                                   float64
nb__Linnton                                 float64
nb__Lloyd District                          float64
nb__Madison South                           float64
nb__Maplewood                               float64
nb__Markham                                 float64
nb__Marshall Park                           float64
nb__Mill Park                               float64
nb__Montavilla                              float64
nb__Mt. Scott-Arleta                        float64
nb__Mt. Tabor                               float64
nb__Multnomah                               float64
nb__North Tabor                             float64
nb__Northwest District                      float64
nb__Northwest Heights                       float64
nb__Old Town/Chinatown                      float64
nb__Overlook                                float64
nb__Parkrose                                float64
nb__Parkrose Heights                        float64
nb__Pearl                                   float64
nb__Piedmont                                float64
nb__Pleasant Valley                         float64
nb__Portland Downtown                       float64
nb__Portsmouth                              float64
nb__Powellhurst-Gilbert                     float64
nb__Reed                                    float64
nb__Richmond                                float64
nb__Rose City Park                          float64
nb__Roseway                                 float64
nb__Russell                                 float64
nb__Sabin                                   float64
nb__Sellwood-Moreland Improvement League    float64
nb__South Burlingame                        float64
nb__South Portland                          float64
nb__South Tabor                             float64
nb__Southwest Hills                         float64
nb__St. Johns                               float64
nb__Sullivan's Gulch                        float64
nb__Sumner                                  float64
nb__Sunderland                              float64
nb__Sunnyside                               float64
nb__Sylvan-Highlands                        float64
nb__University Park                         float64
nb__Vernon                                  float64
nb__West Portland Park                      float64
nb__Wilkes                                  float64
nb__Woodlawn                                float64
nb__Woodstock                               float64
hrt__a few days or more                     float64
hrt__within a day                           float64
hrt__within a few hours                     float64
hrt__within an hour                         float64
pt__Boat                                    float64
pt__Camper/RV                               float64
pt__Casa particular                         float64
pt__Dome                                    float64
pt__Entire bungalow                         float64
pt__Entire cabin                            float64
pt__Entire condo                            float64
pt__Entire cottage                          float64
pt__Entire guest suite                      float64
pt__Entire guesthouse                       float64
pt__Entire home                             float64
pt__Entire loft                             float64
pt__Entire place                            float64
pt__Entire rental unit                      float64
pt__Entire serviced apartment               float64
pt__Entire townhouse                        float64
pt__Entire villa                            float64
pt__Farm stay                               float64
pt__Houseboat                               float64
pt__Private room in bed and breakfast       float64
pt__Private room in bungalow                float64
pt__Private room in condo                   float64
pt__Private room in farm stay               float64
pt__Private room in guest suite             float64
pt__Private room in guesthouse              float64
pt__Private room in home                    float64
pt__Private room in hostel                  float64
pt__Private room in houseboat               float64
pt__Private room in hut                     float64
pt__Private room in loft                    float64
pt__Private room in rental unit             float64
pt__Private room in resort                  float64
pt__Private room in townhouse               float64
pt__Private room in treehouse               float64
pt__Room in boutique hotel                  float64
pt__Room in hostel                          float64
pt__Room in hotel                           float64
pt__Shared room in hostel                   float64
pt__Shared room in townhouse                float64
pt__Tiny home                               float64
pt__Treehouse                               float64
pt__Yurt                                    float64
rt__Entire home/apt                         float64
rt__Hotel room                              float64
rt__Private room                            float64
rt__Shared room                             float64
dtype: object

### Standardize numeric columns

In [56]:
scaler = StandardScaler()

In [57]:
scaler.fit(X_train)
X_tr_scaled = scaler.transform(X_train)
X_te_scaled = scaler.transform(X_test)